
.Rproj.user/21EB935F/pcs/windowlayoutstate.pper
.Rproj.user/21EB935F/pcs/debug-breakpoints.pper
.Rproj.user/21EB935F/pcs/files-pane.pper
.Rproj.user/21EB935F/pcs/source-pane.pper
.Rproj.user/21EB935F/pcs/workbench-pane.pper
.Rproj.user/21EB935F/sources/prop/076ED640
.Rproj.user/21EB935F/sources/prop/283627C4
.Rproj.user/21EB935F/sources/prop/3189F636
.Rproj.user/21EB935F/sources/prop/32559E71
.Rproj.user/21EB935F/sources/prop/50268E21
.Rproj.user/21EB935F/sources/prop/579FA2F4
.Rproj.user/21EB935F/sources/prop/5896E009
.Rproj.user/21EB935F/sources/prop/61DFF7C0
.Rproj.user/21EB935F/sources/prop/629343B6
.Rproj.user/21EB935F/sources/prop/80954884
.Rproj.user/21EB935F/sources/prop/8E35E8F7
.Rproj.user/21EB935F/sources/prop/C375F142
.Rproj.user/21EB935F/sources/prop/C9F10FC8
.Rproj.user/21EB935F/sources/prop/D59BFCD7
.Rproj.user/21EB935F/sources/prop/EAB2AF7C
.Rproj.user/21EB935F/sources/prop/F8AB3241
.Rproj.user/21EB935F/sources/prop/INDEX
.Rproj.user/21EB935F/sources/session-ce8695f7/00E88C73-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/01E45100-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/02D97E00-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/036712D2-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/04BEE390-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/05B7729D-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/0609ABCE-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/0711DEE4-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/078FA687-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/081D0B5F-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/0A049E50-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/0AA6E0C1-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/0C77D0FE-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/0D9DDC48-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/0E858FF8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/0F39D739-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/125BF07E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/125FD10C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/1536857D-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/16983170-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/17654374-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/17C2187F-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/197B5DC7-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/19B1FAE7-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/19B460F6-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/1A8C27FA-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/1B80F951-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/1C274391-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/1DFF2BAD-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/1E0B97DB-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/1F26DFC4-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2180EA36-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/21CA4E23-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2344A0A5-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/25CFF1E5-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/26F11414-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2A46FD6C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2A76695F-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2D55E30D-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2DD44E28-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2E580BC3-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2F09B9AD-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2F12B5BF-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/2F4E74A9-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/32D6C491-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/33008650-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/33A82549-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/33B7756A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/355947A0-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/373B0B7A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/37DBA21B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/38B44413-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/39FD005C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/3CC0D9E5-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/3CFB38D8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/3DB7C9E1-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/3E87821B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/3EC537BF-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/3EC83768-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/404608DF-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/41FF13B9-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/43AC4FCF-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/43CFFE7B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/46679CA8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/466899EF-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/468D0DF3-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/47853228-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/489BF32D-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/49862E3B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/4A1FE738-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/4B858DF2-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/4BD998B9-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/4D23ED4F-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/4FE4878E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/50164188-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5018E0BD-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/50C54963-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5259E8B9-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/52B9666A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/535DDF46-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/559B4EAA-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/576B2B59-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/57E08534-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5910A514-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/591C11D6-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5A6C3ED8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5B62E785-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5BB6D235-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5C5AE07A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5DEE5EC8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/5ED3C5DC-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/624719D6-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/62CCE8F6-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/635F3854-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6365697B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/647C7B32-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/64AB4AAC-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6558EC7F-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/658F6C67-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/66011FA3-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/680086E6-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/68099737-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/683F0B87-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/68F10C47-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6A99684B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6C7C7821-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6CE66373-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6DC7599B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6E1DD752-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6F5A2117-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7148F4A7-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7542287E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/76B8B722-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/77095286-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7778329C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/78E72707-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7955039B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7A9FAB70-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7BB847A0-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7CEDB59F-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7E27CF7C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7E95F399-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7EE00F90-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/7FE3792C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/80D0265A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/818691A9-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/81A65584-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/82038574-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/829C4A27-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/830C470C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/83BFE0C0-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/83D67CD5-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/86B68CA1-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/86C41078-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/87B44038-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/89528627-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/8E0EF8D8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/8E480797-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/8F5D7D5E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/90EE37DA-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/9111F6D7-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/91BD877A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/92020D58-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/93652760-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/951D081C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/96E95C14-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/97479EC8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/98CD8E43-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/9AA24313-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/9D30F255-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/9F77120C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/9F8000BF-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/9FE6B563-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A20E58FB-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A2E61700-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A2F003F2-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A5DAD1E0-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A70D65D9-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A768C8BD-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A85E2472-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A8A53A23-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A8ACFAF6-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A94CE896-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/A99429FC-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/AAB48074-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/AB9AA57E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/AD10DEE1-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/AE1FF0C5-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/AE91017E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/AF8B6E52-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/AF8F7B66-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B00347BE-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B0EC6D0B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B2337D58-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B3CFBE67-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B4DB67B6-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B4E51AE5-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B7A1E326-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B8B5C749-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/B8B62102-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/BB7E325C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/BC57CB87-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/BC8C4E95-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/BCEC6FA2-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C163ED38-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C19AF1A3-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C1A662AF-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C1BF70A0-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C3367E5B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C3372486-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C3BDF56B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C5083684-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C5B05E4B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C625A066-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C6C676D8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C7E65F07-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C9389A13-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C9BA6E53-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/C9CC0D3E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/CA4B271A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/CBC430D7-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/CD33FE9A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/CD4740AE-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/CE9F49CC-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/CF286E50-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/CF4503B6-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D0BE8C77-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D3BC9D92-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D3C424FC-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D3FF8B9C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D45AC25E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D76982BA-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D7E0F0AA-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D8CC1F35-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D9FC42BB-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/DACEE800-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/DADD79DB-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/DB7C3E8B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/DBB97891-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/DEAFC1E1-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/DEC2BCE9-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/DED65A0A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/DF8E38C8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E128D81D-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E14A247C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E17BC818-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E2577F45-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E307C0DD-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E36A6381-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E48900E4-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E4EA424C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E56BBD57-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E5FF1DDD-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E79FD237-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/E964BB51-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/EA050AF4-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/EA7DB538-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/EC865FAC-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/ECD3EB6B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/EDF999DC-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/EDFB3ACD-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/F228F37C-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/F24787C3-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/F2F94651-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/F4C8B948-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/F5106229-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/F5AA93C2-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/F68F6871-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/F79C55CD-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/FD31BF5B-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/FDDC467E-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/FE0A895F-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/FE0B2E88-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/FEC8ACE4-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/FEED0994-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
build/.DS_Store
build/datasus/.DS_Store
build/pib municipal/.DS_Store
build/population/.DS_Store
.Rproj.user/21EB935F/sources/session-ce8695f7/23CAC10A-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/55AAE160-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/6179210F
.Rproj.user/21EB935F/sources/session-ce8695f7/6179210F-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/73B6D6D8
.Rproj.user/21EB935F/sources/session-ce8695f7/73B6D6D8-contents
.Rproj.user/21EB935F/sources/session-ce8695f7/D24FC1A0
.Rproj.user/21EB935F/sources/session-ce8695f7/D24FC1A0-contents
